body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
   height: 20vh;
}

.titleContainer {
    max-width: 500px;
    margin:auto;
    height:inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    background-color: antiquewhite;
    height:400px;
    width: 400px;
    border-radius: 15px;
}

.inputContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: inherit;
}